body {
    width: 80%;
    margin: auto;
}

.imageSeriesRow {
    display: grid;
    column-gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.imageSeriesImage {
    object-fit: contain;
    width: 100%;
}