@font-face {
    font-family: "Wasted Vindey";
    src: url("../fonts/Wasted-Vindey.ttf");
}

.mainFont {
    font-family: "Wasted Vindey", serif;
    font-variant-ligatures: none;
    letter-spacing: 0.02rem;
}

.mainFontWide {
    font-family: "Wasted Vindey", serif;
    font-variant-ligatures: none;
    letter-spacing: 0.15rem;
}

:root {
    --background-color: #FDFAF6;
    --text-color: #000000;
}

.bgColor {
    background-color: var(--background-color);
}

.textColor {
    color: var(--text-color);
}

body {
    margin: 0;
}

nav {
    height: 2.5rem;
    margin: 0.8rem;

    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        float: right;
        height: 100%;
        margin: 0 0.4rem;
        aspect-ratio: 1 / 1;
    }

    a {
        display: inline-block;
        height: 80%;
        margin: 10%;
    }

    div {
        height: 100%;
        position: relative;
    }

    .navBarIcon {
        filter: brightness(0) saturate(100%);
        transition: 0.25s;
    }

    .navBarIcon:hover {
        filter: none;
        transition: 0.25s;
    }

    img {
        height: 100%;
    }
}

#content {
    width: 80%;
    margin: auto;
}

#pageTitle {
    margin: 3rem auto 5rem;
    text-align: center;
    font-weight: normal;
    font-size: 6rem;
}

.imageSeries {
    margin-bottom: 8rem;
}

.imageSeriesTitle {
    font-weight: normal;
    font-size: 2.25rem;
}

.imageSeriesRow {
    display: grid;
    column-gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.imageSeriesImage {
    object-fit: contain;
    width: 100%;
}

#footer {
    height: 2.5rem;
    margin: 3rem 1rem;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

    li {
        display: inline-block;
    }

    /* divider between footer elements */
    li + li:before {
        position: relative;
        top: 0.1rem; /* slash sits above the text baseline, but we want it to be vertically centered with text */
        font-size: 1.3rem;
        content: "/";
    }

    span {
        margin: 0 0.5rem;
        font-size: 1.1rem;

        a {
            text-decoration: none;
            color: #3776A1;
            transition: 0.25s;
        }

        .externalLinkIcon {
            position: relative;
            top: -0.1rem; /* link icon is not really 'centered' at the source in the way that we want it, so move it up a little */
            vertical-align: middle;
            height: 0.75rem;
            margin-left: 0.35rem;
            filter: invert(44%) sepia(8%) saturate(3691%) hue-rotate(162deg) brightness(91%) contrast(85%);
            transition: 0.25s;
        }

        /* copyright icon uses a different font, adjusted a little so it sits vertically centered */
        #copyright {
            position: relative;
            top: 0.05rem;
            margin: 0;
            font-size: 1.2rem;
            font-family: Arial, sans-serif;
        }
    }

    span:hover a {
        color: #89CFF1;
        transition: 0.25s;
    }

    span:hover .externalLinkIcon {
        filter: invert(77%) sepia(29%) saturate(650%) hue-rotate(169deg) brightness(96%) contrast(98%);
        transition: 0.25s;
    }
}
