@font-face {
    font-family: "Wasted Windey";
    src: url("../fonts/Wasted-Vindey.ttf");
}

.mainFont {
    font-family: "Wasted Vindey", serif;
    font-variant-ligatures: none;
    letter-spacing: 0.15rem;
}

:root {
    --background-color: #FDFAF6;
    --text-color: #000000;
}

.bgColor {
    background-color: var(--background-color);
}

.textColor {
    color: var(--text-color);
}

body {
    width: 80%;
    margin: auto;
}

#pageTitle {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: normal;
    font-size: 6rem;
}

.imageSeries {
    margin-bottom: 8rem;
}

.imageSeriesTitle {
    font-weight: normal;
    font-size: 2.25rem;
}

.imageSeriesRow {
    display: grid;
    column-gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.imageSeriesImage {
    object-fit: contain;
    width: 100%;
}